
  .cant{
    display: flex;
    margin:60px 350px;
}
.block{
    background-color: rgb(27, 117, 102);
    margin:20px;
    height:400px;
    padding:40px;
    width:100px
}

@media (max-width: 1000px) {
    .cant {
      flex-direction: column;
    }
  } 
@media (min-width: 1000px) {
  .cant {
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 90px 90px;
    grid-gap:120px
  }
  .block{
    background-color: red;
  }
  } 
@media (min-width: 1200px) { 
  .cant{
    display: flex;
    margin:100px 600px;
}
.block{
    background-color: rgb(27, 117, 102);
    margin:-40px;
    height:400px;
    padding:50px;
    flex-basis:20px;
}
} 