#explore{
    color: red; 
}
.row2{
    font-family: 'Times New Roman', Times, serif;
}
.badge-new{
    background-color:rgb(255, 230, 236);
    color: red !important;
}
.h3{
    color: red !important;
}