body{
    font-family: sans-serif;
    margin-left: 5%;
    background-color: darkgray;
}
form>input{
    margin: 5px 0px 15px;
    height: 25px;
    width: 25%;
    border-radius: 5px;
}
#add>lable{
    font-size: 25px;
}
#add>button{
    margin: 5px 0px 15px;
    height: 30px;
    width: 25.5%;
    border-radius: 5px;
    background-color: blueviolet;
    color: cornsilk;
    font-weight: 800;
    font-size: 16px;
}
div>table{
    border:1px solid darkgreen;
}
/* table>tr,th{
    border:2px solid white;
} */
