body{
    background-color: black;
}
#main{
    height: 42em;
    width: 70%;
    border: 1px solid black;
    margin-left: 170px;
    display: flex;
    background-color: white;
}
#left,#right{
    height:30em;
    width: 35%;
    margin:70px;
    background-color: black;
}
#left{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:50px;
    font-size: 25px;
    height:18em ;
}
#right>div{
    height: 3em;
    width: 75%;
    margin:45px 40px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
#userName{
    font-size: 60px;
    margin-top:10px
}
#userId,#userMobile{
    font-size: 20px;
    margin-top: 15px;
}
#userMobile{
    font-size: 30px;
}
#left>input{
    height: 25px;
    width: 94%;
    border: 2px solid black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top:-8px
   
}

#left>button{
    margin-top: 20px;
    height: 50px;
    width: 101%;
    background-color: black;
    color: white;
    font-size: 30px;
}
#left>#error{
    height: 30px;
    margin-top:10px;
    border: initial;
    color: red;
}
