#linus{
    height:250px;
    width:350px;
    padding:30px;
    margin:30px 450px;
    background:rgb(235, 225, 241);
    text-align:center;
}

.Sal{
    color:red;
    font-size:x-large;
    font-weight: bolder;
    font-family:sans-serif;
    margin-left:15px;
    margin-top:0px;

}
.dis{
    font-size:large;
    font-family:sans-serif; 
    margin: 30px 0px;
    font-size: 16px;
    font-weight: 500px;
    color: black;
}
#orange{
    display:grid;
    grid-template-rows:60px 60px;
    grid-template-columns:610px 10px 610px;
    background:rgb(241, 95, 27);
    margin:40px
}
#o1{
    margin:10px 25px;
    color:white;
    font-size:x-large;
    font-family:Arial, Helvetica, sans-serif;
}
.o2{
    color:white;
    font-size:x-large;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
    width: 615px;
}   
.black{
    height:100px;
    background:black;
    margin:-50px 100%;
    width: 10px;
}