*{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    height: 50px;
}
.block1{
    width:50%;
    margin-left:35px;
}
div.block2{
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns:150px 150px 170px 150px 100px;
    grid-gap:0px;
    text-align: center;
    padding:5px;
    color:rgb(70, 69, 69)
}
.block2 span{
    cursor: pointer;
    background-color: yellow;
    padding: 3px;
    border-radius: 5px;
}
.block2 div{
    font-weight:600;
    margin-top: 10px;
    margin-right: 5px;
}
div+#apply{
    background-color: red;
    padding-top:10px;
    height:25px;
    color:white;
    margin-top:1px;
    font-size:12px;
    border-radius: 5px;
    cursor: pointer;
}
.homeimg{
    height:750px;
    width: 100%;
}
.bg-img {
    background-image: url(https://www.masaischool.com/static/posters/banner_1.jpg);
    width: 100%;
    height: 750px;
    z-index: 0;
}
.home{
    height: 150px;
    width: 70%;
    margin: -540px 120px;
    z-index: 10;
    color:white;
    font-weight: bolder;
    font-size:60px
}
.last-child{
    font-weight: bold;
    font-size:30px;
    margin-top:-40px
}
.explore{
    height: 15px;
    width: 13%;
    margin: 550px 120px 200px 120px;
    margin-bottom: 00px;
    padding:15px;
    color:red;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

}
.div1{
    margin-top:2000px;
    height: 470px;
    width: 100%;
    margin-top:0;
    display: flex;
}
.box1{
    font-family: initial;
    font-size:40px;
    font-weight:bold;
    margin:160px 100px;
    text-align: center;
}
.box2{
   color:red;
   background-color: rgb(253, 228, 232);
   border-radius: 5px;
   margin-top:-150px;
   width:300px
}
.ltblock{
    width: 50%;
}
.rtblock{
    flex-direction:initial;
}
.rtblock div{
    margin-top:50px
}
.red{
    font-size:30px;
    font-weight: bold;
    color:rgb(255, 0, 64)
}
.black{
    margin-top: -20px;
}
.div2{
    height: 1110px;
    width: 100%;
    background-color: rgb(255, 243, 245)
}
.row1{
    margin:0px 100px;
}
.row2{
    display: flex;
    height: 150px;
    width:85%;
    background-color: white;
    margin:20px 100px
}
.r-program{
    margin-left: 150px;
    text-align: center;
    color:rgb(95, 93, 93)
}
.i-program{
    margin-left: 50px;
}
.grid{
    display: grid;
    grid-template-rows:60px 150px 60px 90px 100px 150px 60px 80px;
    grid-template-columns:15% 40% 45% ;
    margin:5px 98px 20px 95px;
    grid-row-gap:15px;
    text-align: center;
}
.grid div{
    background-color: white;
    padding: 15px;
}
.grid1{
    margin-left: 5px;
    text-align: left;
    font-weight: 600;
}
#one{
    height:15px;
    width: 90px;
    background-color:green;
    color:white;
    margin-left:40%;
    border-radius: 10px;
    cursor: pointer;
}
#two{
    height:15px;
    width: 90px;
    background-color:rgb(0, 132, 255);
    color:white;
    margin-left:40%;
    border-radius: 10px;
}
.B1{
    margin-left: 100px;
    width: 140px;
    height: 15px;
    background-color: green;
    color:white;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
}
.B2{
    font-size:40px;
    font-weight:bold;
    margin:20px 100px
}
.B3{
    margin-top:-15px
}
.B4{
    margin-top: 20px;
}
.grid2{
    display: grid;
    margin:30px 80px 0px 100px;
    grid-template-rows: 300px 100px 100px;
    grid-template-columns: 50% 50%;
    grid-column-gap:30px;
}
img:hover {
    transform: scale(1.2);
}
.g3{
    border:0.5px solid rgb(241, 241, 241);
    border-radius: 5px;
    margin-top:-9px;
    padding:30px
}
.g4{
    margin-top:0px
}
.g5{
    display:flex;

}
.button{
    margin-left: 100px;
    border-radius: 5px;
    border:.8px solid rgb(255, 18, 57);
    color:rgb(255, 18, 57);
    background-color: white;
    font-size:15px;
    cursor: pointer;
}
.g5-1{
    font-size: 20px;
    font-weight: 600;
    margin-top:-15px;
    width:70%
}
.g5-2{
    color:grey;
    font-size:15px
}
.alumi{
    background-color: rgb(255, 239, 241);
    margin-left: 10px;
    color:red;
    font-size:22px
}
.row3-1{
    margin-left: 100px;
    margin-top: 50px;
    font-size:22px
}
.read{
    margin-left:62%;
    padding: 10px 25px 25px 25px;
    margin-top:30px;
    background-color: red;
    color:white;
    font-size:18px
}
.students{
    height:400px;
    width: 87%;
    margin:80px 100px;
    display: flex;
}
.Kartik{
    margin:10px;
    height: 90%;
    width: 33%;
    border:.5px solid rgb(233, 233, 233)
}
.Kartik img{
    border-radius: 50%;
}
.dis{
    margin:20px;
    font-size:20px;
    font-weight: 600;
    color:rgb(85, 83, 83)
}
.img3{
    margin-top:50px
}
.dis2{
    font-size:15px;
    margin-top:-20px
}
.company{
    display: flex;
    margin-top:60px;
    height: 400px;
    width: 100%;
    background-color: rgb(251, 239, 241);
}
.c1{
    margin-top:100px;
    margin-left:70px;
    width: 40%;
    font-size: 45px;
    font-weight: bold;
    color:rgb(56, 55, 55)
}
.c2{
    font-size: 45px;
    font-weight: bold;
    color:rgb(218, 45, 45);
    background-color: rgb(250, 209, 215);
    text-align: center;
    margin-top:0px;
    margin-bottom:10px;
}
.c3{
    padding:10px 30px 10px 30px ;
    font-size:15px;
    margin-top:-100px;
    background-color:rgb(255, 18, 57) ;
    color:white;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}
.grid3{
    display:grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    grid-gap:40px;
    margin:40px 70px;

}
.s1{
    width: 300px;
    text-align: center;
    margin-left:50px
}
.row5{
    height: 200px;
    width: 93%;
    background-color: rgb(73, 1, 1);
    flex-direction: column;
    margin-top:-150px;
    padding:50px;
    text-align: center;
    color:white;
    font-weight: bolder;
    font-size:60px
}
.a1{
    padding:20px 150px ;
    background-color: white;
    font-size:15px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.footer{
    display: flex;
    height:270px;
    widows: 100%;
    border-bottom:1px solid rgb(238, 238, 238);
}
.f1{
    margin:50px 10px 20px 100px;
    width:30%;
    color:rgb(53, 50, 50);
    border:none;
}
.f2{
    margin:0px 25px;
}
a:hover{
    text-decoration: underline;
}
.footer p{
   cursor: pointer;
}
.base{
    display: flex;
    margin:10px 38%;
    padding:5px
}
.base img{
    padding:5px 15px 5px 15px
}
.lastline{
    text-align: center;
    font-size:13px
}